---
layout: home
---

    <figure class="figure">
        <img src="http://raw.githubusercontent.com/revistazena/img/master/{{page.image}}"
            alt="{{page.title}} - {{page.legend}}" title="{{page.title}} - {{page.legend}}" />
        <figcaption class="legend">{{page.legend}}</figcaption>
    </figure>
    <article class="post">
        <h1 class="titulo">
            {{page.title}}
        </h1>
        <div class="meta">
            {{page.categories}} &bull; {{ page.date | date: "%-d" }} de
            {% assign m = page.date | date: "%-m" %} {% case m %} {% when '1' %} janeiro {% when '2' %} fevereiro
            {% when '3' %} mar&ccedil;o {% when '4' %} abril {% when '5' %} maio {% when '6' %} junho {% when '7' %}
            julho {% when '8' %} agosto {% when '9' %} setem bro{% when '10' %} outubro {% when '11' %} novembro
            {% when '12' %} dezembro {% endcase %} de {{ page.date | date: "%Y" }} &bull;

            {% assign authorCount = page.author | size %}
            {% if authorCount == 0 %}

            {% elsif authorCount == 1 %}
            {{ page.author | first }}
            {% else %}
            {% for author in page.author %}
            {% if forloop.first %}
            {{ author }}
            {% elsif forloop.last %}
            e {{ author }}
            {% else %}
            , {{ author }}
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="texto">
            {{content}}
        </div>
    </article>
